<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <title>Pizza Shop</title>
</head>
<body>
  <div class = "navigation" >
    <ul>
      <li>
        <a href="/pizza-orders">Pizza Orders</a>
      </li>
      <li>
        <a href="/pizza-orders/new">New Order</a>
      </li>
    </ul>
  </div>
  <div class = "main">
    <%= yield %>
  </div>
</body>
</html>
